
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="account_grid">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }
    <div class="login-right">
        <h3>Forgot Password</h3>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div>
                <label>Email</label>
                <input type="text" name="Email" class="form-control" />   
            </div>           
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="clearfix"> </div>
</div>