@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Scripts{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div class="account_grid">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }
    <div class="login-right">
        <h3>Reset Password</h3>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="Token" value="@Model.Token" />
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" value="@Model.Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="clearfix"> </div>
</div>